<div class="container">
  <ul>
    <li><a [routerLink]="['/basic']">Basic Select Example</a></li>
    <li><a [routerLink]="['/reactive']">Select in Reactive Form Example</a></li>
    <li><a [routerLink]="['/grouping']">Grouping Options Example</a></li>
    <li><a [routerLink]="['/multiple']">Multiple Selection Example</a></li>
    <li><a [routerLink]="['/nested']">Nested Select Example</a></li>
    <li><a [routerLink]="['/custom']">Custom Select Style Example</a></li>
  </ul>

  <router-outlet></router-outlet>
</div>
