<mat-card>
  <form class="example-form" [formGroup]="questionerForm" (ngSubmit)="onFormSubmit()">
    <mat-form-field class="example-full-width">
      <mat-label>Position</mat-label>
      <mat-select formControlName="position" [errorStateMatcher]="matcher">
        <mat-option *ngFor="let pos of positions" [value]="pos">
          {{pos}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="questionerForm.get('position').hasError('required')">
        You must make a selection
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Your Position</mat-label>
      <mat-select formControlName="industry" [errorStateMatcher]="matcher">
        <mat-option *ngFor="let ind of industries" [value]="ind">
          {{ind}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="questionerForm.get('industry').hasError('required')">
          You must make a selection
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Experience</mat-label>
      <mat-select formControlName="experience" [errorStateMatcher]="matcher">
        <mat-option *ngFor="let exp of experiences" [value]="exp">
          {{exp}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="questionerForm.get('experience').hasError('required')">
          You must make a selection
      </mat-error>
    </mat-form-field>
    <div class="button-row">
      <button type="submit" mat-flat-button color="primary"><mat-icon>save</mat-icon></button>
    </div>
  </form>
</mat-card>
